table, th, td {
    border: solid 1px;
    border-collapse: collapse;
}

table {
    width: 500px;
}

caption{
    padding: 10px;
    font-weight: 500;
    font-size: 19px;
}

th, td {
    padding: 10px;
}

thead {
    background-color: paleturquoise;
    font-size: 18px;
}

thead th:first-child {
    width: 10%;
}

thead th:nth-child(2n) {
    width: 70%;
}

thead th:last-child {
    width: 20%;
}

tbody tr td:first-child {
    text-align: center;
}

tbody tr td:last-child {
    text-align: right;
}

tbody tr:nth-of-type(even) {
    background-color: lightcyan;
}

tbody tr:nth-of-type(odd) {
    background-color: azure;
}
